.App {
    padding: 30px;
    display: flex;
    flex-direction: column;
}

.App > div {
    margin-right: 50px;
}

.todolists {
    display: flex;
    margin-top: 20px;
}

.inputForm {
    display: flex;
    flex-direction: column;
}

.input {
    display: flex;
    width: 100%;
}

.addBtn {
    margin-left: 5px;
    font-size: 22px;
    border: none;
    background-color: inherit;
}

ul li {

    list-style-type: none;
    margin-bottom: 5px;
    display: flex;

    align-items: center;
}

ul {
    padding-left: 16px;
}

ul li span {
    max-width: 150px;
    display: inline-block;
    word-wrap: break-word;

}

.TodoList {
    display: flex;
    padding: 15px;
    border: 2px #6ede6e solid;
    border-radius: 10px;
    margin-right: 16px;
}

.checkbox {
    border: 1px #a9a9a9 solid;
    width: 18px;
    height: 18px;
    margin-right: 6px;
}

.deleteTaskBtn {
    padding: 2px 6px;
    text-align: center;
    border: 1px #a9a9a9 solid;
    background-color: inherit;
    color: black;
    font-size: 13px;
    margin-left: 10px;
    border-radius: 5px;
}

.deleteTodolistBtn {
    width: 20px;
    height: 20px;
    margin-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background-color: inherit;
    color: black;
    font-size: 18px;
}

.error {
    border: #e31f1f 2.3px solid;
}

.error-message {
    color: #e31f1f;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    font-family: Monaco;
    margin-top: 6px;
}

.active-filter {
    background-color: palegreen;
    border: 2px #6ede6e solid;
}

.is-done {
    opacity: 0.5;
}